streamlit
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-huggingface
langchain-chroma
langchain-core
langchain-classic
python-dotenv
chromadb
pysqlite3-binary
sentence-transformers
gTTS